.btn-primary {
  color: #fff;
  background-color:#006699;
  border-color: #005078;
}
.btn-primary:hover{
  background-color: #005078;
}
#main-area label{
  font-weight: 600;
}
input[type=file], input[type=date], input[type=text], textarea, select, #main-area input[type=text] {
  border: #ddd solid 1px !important;
  border-radius: 10px !important;
  background-color: #eeeeee !important;
}
#main-area input[type=file], #main-area input[type=text], #main-area input[type=date]  {
  border: #ddd solid 1px !important;
  border-radius: 10px !important;
  background-color: #eeeeee !important;
}
#main-area .fas, #main-area .input-group-text{
  font-family: 'FontAwesome', sans-serif; 
  background-color: #fff !important;
}
a {
  color:#000;
  text-decoration: none;
}
a:hover {
  color:#6C757D;
}
#current-trend, #previous-clients, #client-relationship-summary {
  max-height: 252px !important;
  min-height: 252px !important;
}

#main-area h1, #main-area h2, #main-area h3 {
  color:#005078;
  font-weight: 400;
}

@media screen and (min-width: 800px) {
  #main-area h1, #main-area h2, #main-area h3 {
    font-size: 20pt;
    text-decoration: underline;
  }
  #main-area .col-md-1 p, #main-area .col-md-2 p, #main-area .col-md-3 p {
    padding-top:5px;
  }
  .select-multiple {
    height:36px;
  }
}

